/* HEADER */
.cart-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 63px;
    padding-top: 53px;
}

.cart-header__back-btn{
    background-image: url(../../../public/img/icons/arrow_icon_O.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 16px 15px 15px 16px;
    box-sizing: border-box;
    border: 1px solid rgb(213, 140, 81);
    border-radius: 100%;
}
.cart-header__back-btn:hover{
    border-color: #ffffff;
    background-image: url(../../../public/img/icons/arrow_icon_W.svg);

}

.cart-header__title{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 31px;
    font-weight: 700;   
}
/* MAIN */
/* FOOTER */
.cart-footer{
    border-top: 1px solid rgb(213, 140, 81);
    margin-top: 102px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 359px;
    padding-top: 20px;
}

.cart-footer_descr-summ{
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 400;
}

.cart-footer_summ{
    color: rgb(213, 140, 81);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
}

.cart-footer__order-btn{
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    background-color: rgb(213, 140, 81);
    padding: 13px 53px;
    border: none;
    border-radius: 10px;
}

.cart-footer__order-btn:hover{
    color: rgb(0, 0, 0); 
    background-color: bisque;
}