/* HEADER */
.cart-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 63px;
    padding-top: 53px;
}

.cart-header__back-btn{
    background-image: url(../../../public/img/icons/arrow_icon_O.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 16px 15px 15px 16px;
    box-sizing: border-box;
    border: 1px solid rgb(213, 140, 81);
    border-radius: 100%;
}
.cart-header__back-btn:hover{
    border-color: #ffffff;
    background-image: url(../../../public/img/icons/arrow_icon_W.svg);

}

.cart-header__title{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 31px;
    font-weight: 700;   
}
/* MAIN */
/* FOOTER */